
public_html/spotify.html

*.html~

public_html/deleted-parts/

*.css~

public_html/index-backup.html

public_html/ico-original-size/

public_html/ico-resized-64x64/

deleted-parts/

ico-original-size/
