/* background */
body { background-color: #000000; }
/* headings */
h1,
h2,
h3,
a {
	font-family: monospace, serif;
	text-decoration: none;
	color: #ffffff;
}

h1:hover {
	color: #ffffff;
	text-decoration: bold;
}

h2:hover {
	color: #000000;
	text-decoration: bold;
}

h3:hover {
	color: #000000;
	text-decoration: bold;
}

h2 {
	font-size: 18px;
	text-align: center;
	color: #000000;
	text-weight: bold;
	line-height: 1.5;
	border: 0px;
	padding: 0px;
    	font-family: monospace, serif;
}

h3 {
    font-size: 14px;
    font-family: monospace, serif;
}

.toptext a {
	font-size: 16px;
}

.toptext a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

#bottomtext a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	font-size-adjust: 16px;
}

.links a {
	font-size: 24px;
	line-height: 1.25;
	margin-top: 100px;
}

.links a:hover {
	font-size: 24px;
	font-size-adjust: 28px;
	font-weight: bold;
	margin-top: 100px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	line-height: 1.25;
}


table {
	border: none;
	border-collapse: collapse;
}

img {
	width:40px;
	height:40px;
	margin-left: auto;
	margin-right: auto;
}

svg:hover {
	/* opacity: 0.50; */
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	color: #FFFFFF;
}

table.iconstable {
	margin-left: auto;
  	margin-right: auto;
	border: none;

}
th,
tr,
td.iconstable {

	border: none;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
 }


.icons {
	width: 40px;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: none;
	background-color: none;
	vertical-align: center;
	horizontal-align: center;
}

.small-icons {
	width: 18px;
	height: 18px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	line-height: 1.0;
	text-align: center;
	margin: auto;
	border: none;
	padding: 0px;
}

.extensions {
	line-height: 1.5;
	text-align: center;
	font-size: 14px;
	font-family: monospace, serif;
}

.searches {
	line-height: 1.5;
}

.mainicons {
	line-height: 1.0;
	text-align: center;
	margin: auto;
	border: 0px;
	padding: 0px;
}
